.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.705);
    transition: 0.3s;
    margin: 100px 400px;
    background: #d9d7e0;
    opacity: 0.7;
    filter: alpha(opacity=80);
}
  
  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.945);
    opacity: 1.0;
    filter: alpha(opacity=100);
}
  
  /* Add some padding inside the card container */
.container {
    padding: 2px 40px;
    width:100%;
    height: 50%;
}


.head{
    color:rgb(37, 29, 29);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-control {
  font-size:"large";
}

